{% extends 'edu/base.html' %}
{% block title %}
    <title>سامانه انتخاب واحد|ثبت نام</title>
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="../../static/css/registration.css">
{% endblock %}

{% block content %}
     <div class="form-container">
        <form action="{% url 'registration' %}" id="register_form" class="form" method="POST">
            {% csrf_token %}
            <h2>ثبت نام</h2>
            <div class="form-inputs">

                <div class="form-right-col">
                    <div class="form-control-input">
                        <label for="first_name">نام</label>
                        <input type="text" id="first_name" name="first_name" placeholder="نام را وارد کنید"/>
                        <small>Error message</small>
                    </div>
                    <div class="form-control-input">
                        <label for="last_name">نام خانوادگی</label>
                        <input type="text" id="last_name" name="last_name" placeholder="نام خانوادگی را وارد کنید"/>
                        <small>Error message</small>
                    </div>
                    <div class="form-control-input">
                        <label for="username">نام کاربری</label>
                        <input type="text" id="username" name="username" placeholder="نام کاربری را وارد کنید"/>
                        <small>Error message</small>
                    </div>
                </div>
                <div class="form-left-col">
                    <div class="form-control-input">
                        <label for="email">ایمیل</label>
                        <input type="text" id="email" name="email" placeholder="ایمیل را وارد کنید"/>
                        <small>Error message</small>
                    </div>
                    <div class="form-control-input">
                        <label for="password">رمز</label>
                        <input type="password" id="password" name="password1" placeholder="رمز را وارد کنید"/>
                        <small>Error message</small>
                    </div>
                    <div class="form-control-input">
                        <label for="password2">تایید رمز</label>
                        <input type="password" id="password2" name="password2" placeholder="دوباره رمز را وارد کنید"/>
                        <small>Error message</small>
                    </div>
                </div>
            </div>
            <button type="submit" name="submit">ثبت نام</button>
        </form>
    </div>
{% endblock %}

{% block script %}
    <script src="../../static/js/script.js"></script>
{% endblock %}